<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inlinecss</title>
    <style type="text/css">
      body {
        background-color: black;
        margin: 0;
      }
      div {
        border: 2px solid white;
        color: white;
        width: 80%;
        text-align: center;
        margin: 2% auto;
        padding: 5% 2%;
      }
      img {
        display: block;
        width: 50%;
        max-width: 250px;
        min-width: 100px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body style="">
    <div style="">
      <img
        src="https://cdn.glitch.com/a7854d2f-32fd-4c8b-9ff9-a112251ffee3%2Fcrown.png?v=1582675472485"
        alt="Crown."
        style=""
      />
      <p
        style="font-size: 8em;
                text-transform: uppercase;margin: 0;padding: 0;word-break: break-word;"
      >
        Keep Calm <span style="display: block;font-size: .5em;">and</span>
        Carry On
      </p>
    </div>
  </body>
</html>
